<%= form_with(model: medico) do |form| %>
  <% if medico.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(medico.errors.count, "error") %> impediu este médico de ser salvo:</h2>
      <ul>
        <% medico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :crm, class: "form-label" %>
    <%= form.text_field :crm,
                        class: 'form-control',
                        placeholder: 'CRM-PI 12345',
                        pattern: 'CRM-[A-Z]{2} \d{4,6}',
                        title: 'O formato deve ser: CRM-PI 12345',
                        maxlength: 12
    %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :especialidade, class: "form-label" %>
    <%= form.text_field :especialidade, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>